{#
/**
 * @file
 * Theme for asu_application entity.
 *
 */
#}

{%
  set classes = [
    'application',
    view_mode ? 'application--' ~ view_mode|clean_class,
  ]
%}

{% if view_mode == 'teaser' %}
  <article{{ attributes.addClass(classes) }}>
    <figure class="application__image">
      {# <img src="http://Asu:asunnot_2020@{{ content.project_main_image_url }}" alt=""> #}
      <img src="https://images.pexels.com/photos/6054896/pexels-photo-6054896.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
    </figure>
    <div class="application__content">
      <h2 class="application__project-name">
        <span class="visually-hidden">
          {% trans %}
            Project name
          {% endtrans %}
          {{ ': ' }}
        </span>
        {{ content.project_name }}
      </h2>
      <p class="application__project-address">
        <span class="visually-hidden">
          {% trans %}
            Address
          {% endtrans %}
          {{ ': ' }}
        </span>
        <strong>
          {{ content.project_district }}{{ ',' }}
        </strong>
        {{ content.project_address }}
      </p>
      <span class="application__project-ownership-type">
        <span class="visually-hidden">
          {% trans %}
            Ownership type
          {% endtrans %}
          {{ ': ' }}
        </span>
        {{ content.project_ownership_type }}
      </span>
      <ul class="application__date-information">
        <li>
          {% include "@hdbt/misc/icon.twig" with {icon: 'cogwheel', label: ''} %}
          <span class="visually-hidden">
            {% trans %}
              Estimated completion
            {% endtrans %}
            {{ ': ' }}
          </span>
          {{ content.project_estimated_completion }}
        </li>
        <li>
          {% set date = content.application_end_time|date("d.m.Y") %}
          {% set time = content.application_end_time|date("H.i") %}
          {% include "@hdbt/misc/icon.twig" with {icon: 'clock', label: ''} %}
          {% trans %}
            The application period is open until {{ time }} on {{ date }}
          {% endtrans %}
        </li>
      </ul>
    </div>
  </article>
{% endif %}