{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}

{% set classes = [
  'application-form',
  'application-form--add',
  'wrapper',
  'wrapper--mw-1200'
] %}

<form{{ attributes|without('class') }} {{ create_attribute({'class': classes}) }}>
  {{ link(
    'Go back to applications'|t,
    "internal:/user/#{current_user_id}/applications",
    { 'class':['application-form__back-link']} )
  }}
  <div class="application-form__header">
    <h1>
      <span>
          Hitas-{% trans %}application{% endtrans %}
      </span>
      {{ element.project_name }}
    </h1>
    <p>
      {% trans %}
        Submit an application during the application period. You can search for up to 5 apartments. Arrange the apartments in the order you want.
      {% endtrans %}
    </p>
    <a href="https://google.fi">
      {% trans %}
        Read more about the application guide
      {% endtrans %}
    </a>
  </div>
  <div class="application-form__content">
    <section class="application-form__section">
      {{ element.apartment }}
    </section>
    <section class="application-form__section">
      <h2>
        {% trans %}
          Are you looking for an apartment with a family with children?
        {% endtrans %}
      </h2>
      <p>
        {% trans %}
          There is a minor child in my household.
        {% endtrans %}
      </p>
      {{ element.has_children }}
    </section>
    <section class="application-form__section">
      <h2>
        {% trans %}
          Are you looking for an apartment with someone?
        {% endtrans %}
      </h2>
      <div class="application-form__input-elements">
        {{ element.applicant }}
      </div>
    </section>
  </div>
  <div class="application-form__actions">
    {{ element.form_build_id }} {# required #}
    {{ element.form_id }} {# required #}
    {{ element.actions }}
  </div>
</form>
